{% extends 'base.html' %}
{% block head_title %}
    Tweet Me 2
{% endblock %}
{% block content %}
    Welcome To Tweet Me 2
    <div id="tweets">
        Loading...
    </div>
<script>
function formatTweetElement(tweet) {
    let formatted = "<div class='mb-4 tweet' id='tweet-" + tweet.id + "'><p>" + tweet.content +
        "</p><div class='btn-group'>" + LikeBtn(tweet) +
        "</div></div>"
    return formatted
}
function LikeBtn(tweet) {
    return `<button class='btn btn-primary btn-small' onclick=handleLike(${tweet.id},${tweet.likes})>${tweet.likes} Likes</button>`
}

function handleLike(tweet_id, currentCount) {
    console.log(tweet_id, currentCount)
}
const tweetsElement = document.getElementById("tweets")
const xhr = new XMLHttpRequest()
const method = 'GET'
const url = "/tweets"
const responseType = "json"

xhr.responseType = responseType
xhr.open(method, url)
xhr.onload = function() {
    const serverResponse = xhr.response
    let listedItems = serverResponse.response
    let finalTweetStr = ""
    for (let i=0; i < listedItems.length; i++) {
        finalTweetStr += formatTweetElement(listedItems[i])
    }
    tweetsElement.innerHTML = finalTweetStr
}
xhr.send()
</script>
{% endblock %}